/*Reset CSS*/

* {
    margin: 0px;
    padding: 0px;
}

.topHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
}

#logo {
    max-height: 4em;
    flex-basis: 9%;
    padding: auto;
}

select {
    background-color: #91AA9D;
    color: #FCFFF5;
    border: none;
    border-radius: 1px;
    padding: 3%;
    ;
}

.Phone {
    flex-basis: 70%;
    padding: auto;
    margin-left: 2%;
}

.selecteurLangue {
    flex-basis: 20%;
    margin-right: 2%;
    display: inline;
    justify-content: right;
}

.topnav {
    background-color: #3E606F;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: white;
    color: #91AA9D;
}

.topnav a.active {
    background-color: #91AA9D;
    color: white;
}

.topnav .icon {
    display: none;
}

.containerListeChambres {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blocChambre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 50%;
    height: auto;
    text-transform: uppercase;
    font-size: 7pt;
    color: white;
    font-weight: bold;
}

.imgChambre {
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.buttonChbre {
    background-color: #91AA9D;
    align-items: center;
    color: white;
    font-size: 11pt;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.containerBlocServices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* footer {
    background-color:  ;
} */

.footer_social {
    background-color: #172329;
}

.Container-rs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    margin-left: 40%;
    margin-right: 40%;
}

.footer_social img {
    max-height: 5em;
}

.ContainerContact {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.ContainerMap {
    width: 33%;
}

.ContainerAdresse {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ContainerNewsletter {
    width: 33%;
}

#ContainerLegal {
    text-align: center;
}

#logo-footer {
    width: 3em;
}

.newsletterForm {
    text-align: center;
}


/* police */

body {
    font-family: 'Open Sans', sans-serif;
    color: #3E606F;
}

h1 {
    font-size: 32pt;
    color: #91AA9D;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 14pt;
    color: #3E606F;
}

.baseline {
    text-align: center;
}

footer p {
    font-size: 1em;
}

ul {
    list-style: none;
}


/* Autres : , , , , , #172329 */


/* 
#FCFFF5 */


/* Médias Queries  */


/* - de 600 pixels. */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}


/* responsive */

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}